# data
/data
/data/*
*.csv

# pycache
__pycache__/
*/__pycache__/*

# jupyter checkpoints
*/.ipynb_checkpoints

# venv
/venv
/MEtestvenv

# notebook output files
blob_details/output/volume_graph.html

src/not_working_yet.py

.neptune
.model.pt

